<h1>Welcome, <%= current_user.username %></h1>

<h2>Repos</h2>
<ul>
  <% @repos.each do |repo| %>
    <li>
      <p>Repo Name: <%= repo[:name] %></p>
      <p>Private: <%= repo[:private] %></p>
    </li>
  <% end %>
</ul>
